body{
    background-color: rgb(168, 167, 167);
    font-family: 'Cormorant SC', serif;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
.navbar a {
    font-size: 2rem;
    text-transform: uppercase;   
    font-weight: 100;
   
}
.navbar-nav>a{
    font-size: 1.3rem;
    font-weight: 530;
    margin: auto 1rem;
}

h2{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}


img{
    cursor: pointer;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;}


#row-1 img:hover {
   transform: translate(2%,0);
   box-shadow: -5px 0 10px 13px rgba(212, 212, 212, 0.3);
}
#row-2 img:hover {
    transform: translate(-2%,0);
    box-shadow: 5px 0 10px 13px rgba(212, 212, 212, 0.3);
}
 #row-3 img:hover {
    transform: translate(2%,0);
    box-shadow: -5px 0 10px 13px rgba(212, 212, 212, 0.3);
 }
 


@media (min-width: 960px) {
   
    h2{
        font-size: 3rem;
    }
    p{
        font-size: 1.5rem;
    }
}
